.ChatUp {
  box-sizing: border-box;
  border-radius: .2rem;
  padding-bottom: 8rem;
  background: #F7F7F8;
  box-shadow: 0 .4rem .4rem rgba(0,0,0,0.1);
  background: url('../../media/images/graph-paper.svg');
  background-position: center top;
}

.output-section {
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.output-message {
  gap: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  max-width: 800px;
  border-radius: 1rem;
}
.output-message__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  height: 50px;
  width: 50px;
  border-radius: .2rem;
}
.output-message__content {
  width: 100%;
}

.output-message.human {
  background: #fff;
  border: 1px solid #00000010;
}


.textarea {
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-height: 200px;
  height: 56px;
  overflow-y: hidden;
  padding: 1rem;
  padding-right: 3rem; /* Add padding to make space for button */
  outline: none;
  border: none;
  border-radius: 2rem;
  background: #fff;
  transition: .2s;
}
.textarea:focus {
  outline: 2px solid #d0d0d1;
}

.send-button-container {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 100%;
  background: none; /* Remove default background */
  border: none; /* Remove default border */
  padding: 0; /* Remove default padding */
  cursor: pointer;
}

.send-arrow {
  fill: black; /* Default color */
}

.send-button:disabled .send-arrow {
  fill: #9c9c9c; /* Disabled color */
}

.input-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-container {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  height: 100px;
  background: linear-gradient(to top, #00000020, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-section {
  box-sizing: border-box;
  z-index: 999;
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 0 0 1rem;
  box-shadow: 0px 4px 8px #00000010;
}

.head-button-container {
  box-sizing: border-box;
  height: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head-logo-container {
  box-sizing: border-box;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head-button-container button {
}

.clear-history-button-container {
}
.clear-history-button-container button {

}

.chat-introduction-container {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

@keyframes fade {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

.dots {
  display: flex;
  justify-content: space-around;
  width: 60px;
  margin: auto;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  animation: fade 1.4s infinite;
}

.dot1 { animation-delay: -0.32s; }
.dot2 { animation-delay: -0.16s; }

.output-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.central-container {
  display: flex;
}

.ChatUp-container {
  box-sizing: border-box;
  flex: 3;
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem 0rem 0rem;
}

.side-panel {
  box-sizing: border-box;
  flex: 1;
  padding: 1rem;
  /* height: 100vh; */
}

.SidePanelContentContainer {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SidePanelMediaContainer {
  height: 200px;
  width: 100%;
  background: url('../../media/images/me.jpeg');
  background-position: center;
  background-size: contain;
  border-radius: 0.4rem;
  /* background-repeat: no-repeat; */
}

.SidePanelSocialContainer {
  display: flex;
  gap: 1rem;
}

.SidePanelMediaDescription {
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: #727272;
  text-align: justify;
  border-radius: 0.4rem;
}

.SidePanelSocialLink {

}

@media only screen and (max-width: 600px) {
  .SidePanelMediaDescription {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .central-container {
    display: flex;
    overflow-x: hidden;
  }
  .ChatUp-container {
    transition: transform 0.3s ease-in-out;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    transform: translateX(-100vw);
    margin: 0rem;
  }
  .ChatUp-container.open {
    transform: translateX(0vw);
  }
  .side-panel {
    transition: transform 0.3s ease-in-out;
    min-width: 100vw;
    transform: translateX(100vw);
    display: unset;
    overflow: auto;
  }
  .SidePanelContentContainer {
  }
  .side-panel.open {
    transform: translateX(-100vw);
    height: 100vh;
  }
  .head-section {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0.6rem;
  }

  .SidePanelMediaContainer {
    height: 300px;
    width: 100%;
    background-position: top;
    background-size: auto;
    background-repeat: repeat;
  }
  .chat-introduction-container {
    padding: .4rem;
    flex: 1;
  }
  .output-message {
    padding: 1rem;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal p {
  margin-bottom: 1rem;
}

.modal-buttons-group {
  display: flex;
  gap: 1rem;
}