.central-container {
  background: #f4f2ee;
  display: flex;
  justify-content: center;
}

.central-container-content {
  max-width: 1300px;
  display: flex;
}

.ChatUp-container {
  box-sizing: border-box;
  flex: 5;
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem 0rem 0rem;
}

.side-panel {
  margin: 1rem 0rem;
  border: 1px solid #00000040;
  border-radius: 0.4rem;
  background: #fff;
  box-sizing: border-box;
  flex: 2;
  padding: 1rem;
  overflow-y: auto;
}

.ChatUp {
  background: url("../../media/images/maze-2.png");
  background-size: cover;
  box-sizing: border-box;
  border-radius: 0.2rem;
  padding-bottom: 8rem;
  background-position: center top;
}

.output-section {
  line-height: 1.75rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
}

.output-message {
  gap: 1rem;
  display: flex;
  box-sizing: border-box;
  width: auto;
  max-width: 80%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #00000040;
}
.output-message__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  height: 28px;
  width: 50px;
  border-radius: 0.2rem;
}
.output-message__content {
  width: 100%;
}

.output-message.human {
  margin-left: auto;
  margin-right: 1rem;
  background: #43e1d2a8;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.output-message.ai {
  margin-right: auto;
  margin-left: 1rem;
  justify-content: flex-start;
  background: #fff;
}

.textarea {
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-height: 200px;
  height: 56px;
  overflow-y: hidden;
  padding: 1rem;
  padding-right: 3rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  background: #fff;
  border: 1px solid #00000040;
}
.textarea:focus {
  outline: 1px solid #00000080;
}

.send-button-container {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.send-arrow {
  fill: dodgerblue;
}

.send-button:disabled .send-arrow {
  fill: #9c9c9c;
}

.input-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-container {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-section {
  transform: translateY(30%);
  background: #fff;
  box-sizing: border-box;
  z-index: 999;
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 0 0 1rem;
  border: 1px solid #00000040;
  border-radius: 0.4rem;
}

.head-button-container {
  box-sizing: border-box;
  height: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head-logo-container {
  box-sizing: border-box;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head-button-container button {
}

.clear-history-button-container {
}
.clear-history-button-container button {
}

.chat-introduction-container {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.dots {
  display: flex;
  justify-content: space-around;
  width: 60px;
  margin: auto;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  animation: fade 1.4s infinite;
}

.dot1 {
  animation-delay: -0.32s;
}
.dot2 {
  animation-delay: -0.16s;
}

.output-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.SidePanelTitle {
  font-size: 1rem;
  display: flex;
  align-self: flex-start;
  width: 100%;
  background: #d9d9d9;
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
  font-family: 'Custom';
}

.SidePanelContentContainer {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SidePanelMediaContainer {
  height: 200px;
  width: 100%;
  background: url("../../media/images/me2.jpg");
  background-position: center;
  background-size: contain;
  border-radius: 0.4rem;
  /* background-repeat: no-repeat; */
}

.SidePanelSocialContainer {
  display: flex;
  gap: 1rem;
  display: flex;
  align-self: flex-start;
}

.SidePanelMediaDescription {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #727272;
  text-align: justify;
  border-radius: 0.4rem;
}

.SidePanelSocialLink {
}

@media only screen and (max-width: 600px) {
  .SidePanelMediaDescription {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .central-container {
    display: flex;
    overflow-x: hidden;
  }
  .ChatUp-container {
    transition: transform 0.3s ease-in-out;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    transform: translateX(-100vw);
    margin: 0rem;
  }
  .ChatUp-container.open {
    transform: translateX(50vw);
  }
  .side-panel {
    transition: transform 0.3s ease-in-out;
    min-width: 100vw;
    transform: translateX(100vw);
    display: unset;
    overflow: auto;
    margin: 0rem;
    border: none;
    border-radius: none;
  }
  .input-container {
    padding: 0 1rem;
  }
  .SidePanelContentContainer {
  }
  .side-panel.open {
    transform: translateX(-50vw);
    height: 100vh;
  }
  .head-section {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0.6rem;
    transform: translateY(0%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .SidePanelMediaContainer {
    height: 300px;
    width: 100%;
    background-position: top;
    background-size: auto;
    background-repeat: repeat;
  }
  .SidePanelMediaContainer {
    background-size: cover;
  }
  .chat-introduction-container {
    padding: 0.4rem;
    flex: 1;
  }
  .output-message {
    padding: 1rem;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border: 1px solid #00000040;
}

.modal p {
  margin-bottom: 1rem;
}

.modal-buttons-group {
  display: flex;
  gap: 1rem;
}
