@font-face {
  font-family: 'BebasNeue';
  src: url('../../media/fonts/BebasNeue-Regular.ttf') format('truetype');
}

.VagabondDiaryContainer {
  font-size: 1.2rem;
  box-sizing: border-box;
  background: url('../../media/images/graph-paper.svg');
  background-position: center top;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: .4rem;
  box-shadow: 0 .2rem .4rem rgba(0,0,0,0.1);
}

.VagabondDiaryHeaderContainer {
}

h3 {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0 2rem;
  margin: 0;
  width: 100%;
  text-align: left;
  max-width: 600px;
}

li {
  background-color: #f9f9f9;
  margin-bottom: .4rem;
  padding: 1rem;
  border: .2rem solid #e0e0e0;
  border-radius: .4rem;
  color: #7f7b8d;
}

@media only screen and (max-width: 600px) {
  h3 {
      font-size: 1.2rem;
      padding: .8rem;
  }

  ul {
      padding: 0 1rem;
  }

  li {
      font-size: 1rem;
      padding: .8rem;
      border-radius: .2rem;
  }
}
