/* @keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.sandbox {
  font-family: 'Arial', sans-serif;
  background-color: #e0f7fa;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  overflow-y: auto;
}

.header {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #004d40;
  position: relative;
  display: inline-block;
}

.ripple {
  border-radius: 50%;
  background: rgba(0, 77, 64, 0.7);
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-animation 0.6s linear;
}

.animal-card {
  background-color: #ffffff;
  border: 2px solid #004d40;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  max-width: 90%;
}

.animal-card:hover {
  transform: scale(1.05);
}

.image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
}

.info {
  padding: 1rem;
}

.name {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #004d40;
}

.description {
  color: #004d40;
} */
