.connect-links-container {
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s ease;
  border: 0.2rem solid var(--black-transparent-light);
  background: var(--white);
  width: auto;
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}

.connect-links-container:hover {
  border: 0.2rem solid var(--black-text);
}

.connect-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.2s ease;
  transform: scale(1) translateY(20%);
}

.connect-links-container:hover .connect-links {
}

.connect-links-container-text {
  display: flex;
  flex-direction: column;
}

.connect-links-container-description-title {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Custom";
}

.connect-links-container-description-subtitle {
}


.connect-links img {
  cursor: pointer;
  transition: 0.2s;
  width: 50px;
}

.connect-links img:hover {
  transform: scale(1.2);
}

.whatsapp-button, .paypal-button {
    display: flex;
    justify-content: center;
    align-items: center;
}