.connect-links-container {
  padding: 2rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s ease;
  border-top: 0.2rem dashed var(--black-transparent-light);
  width: auto;
  border-radius: .2rem;
  right: 2rem;
  bottom: 3rem;
  width: 100%;
}

.connect-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.2s ease;
  transform: scale(1) translateY(20%);
}

.connect-links-container:hover .connect-links {
}

.connect-links-container-text {
  display: flex;
  flex-direction: column;
}

.connect-links-container-description-title {
  font-size: 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Custom";
}

.connect-links-container-description-subtitle {
}

.connect-links img {
  cursor: pointer;
  transition: 0.2s;
  width: 60px;
}

.connect-links img:hover {
  transform: scale(1.2);
}

.whatsapp-button,
.paypal-button,
.instagram-button,
.linkedin-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
