.button {
  background: linear-gradient(45deg, #0c66c1b3, #9e92c0);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
  width: 100%;
  /* min-width: 180px; */
}

.button.link {
  background: transparent;
  color: unset;
}

.button.link:hover {
  text-decoration: underline;
}

.button:hover {

}