@font-face {
  font-family: "Custom";
  src: url("../media/fonts/ChakraPetch-SemiBold.ttf") format("truetype");
}

.explore-page-card-preview {
  box-sizing: border-box;
  width: 100%;
}

.explore-page-card-preview-content {
  box-sizing: border-box;
  width: 100%;
}
.explore-page-card-preview-title {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  padding: 0 2rem;
  margin: 0;
  top: 2.5rem;
  font-family: "Custom";
}

.preview-text-description-description {
  position: absolute;
  color: #dbdbdb;
  bottom: 6rem;
  right: 4rem;
  left: 4rem;
  background-color: #00000090;
  padding: .4rem 1rem;
  border-radius: .4rem;
}

.explore-page-card-preview-loading {
  display: flex;
  width: 100%;
  background: #000000;
  height: 100px;
}

.preview-text-description-container {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.preview-text-description-link,
.preview-text-description-status,
.preview-text-description-devices {
  align-self: flex-start;
  display: flex;
}


.preview-text-description-key {
  align-self: flex-start;
  font-family: "Custom";
  margin-right: 1rem;
  background: #000000;
  color: #fff;
  text-align: end;
  border-radius: 0.2rem;
  padding: 0rem 1rem;
  width: 8rem;
  min-width: 8rem;
}
.explore-page-card-preview-title span {
  display: inline-block;
  animation: float 3.6s ease-in-out infinite;
  font-family: "Custom";
  color: #fff;
  text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
}

h3 span:nth-child(2) {
  animation-delay: 0.2s;
}
h3 span:nth-child(3) {
  animation-delay: 0.4s;
}
h3 span:nth-child(4) {
  animation-delay: 0.6s;
}
h3 span:nth-child(5) {
  animation-delay: 0.8s;
}
h3 span:nth-child(6) {
  animation-delay: 1s;
}
h3 span:nth-child(7) {
  animation-delay: 1.2s;
}

.preview-media {
  box-sizing: border-box;
  width: 100%;
}

.preview-media img,
video {
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  height: 400px;
  width: 100%;
  border-radius: 1rem;
  border: 0.2rem solid #000;
}

@media only screen and (max-width: 600px) {
  .explore-page-card-preview-title {
    font-size: 2.5rem;
    padding: 0 1rem;
    margin: 0;
    top: 1rem;
  }
}
