.swiper-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.swiper-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.swiper-container.preview {
  overflow: visible;
  height: auto;
  z-index: 90;
}
.swiper-container.preview img {
  height: 100%;
  width: 100%;
  transform: scale(1.2);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
}

.left {
  left: 10px;
}
.right {
  right: 10px;
}

.backdrop {
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
