.shop-page-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
}

.shop-page-header {
  display: flex;
  width: 100%;
  height: 100px;
}

.shop-page-header-column {
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
}

.explore-page-logo-titles-container {
  display: flex;
  flex-direction: column;
}

.explore-page-logo-title {
  font-size: 1.4rem;
  font-family: 'custom';
  transition: .2s all;
}

.explore-page-logo-subtitle {
  transition: .2s all;
  opacity: 0;
  height: 0px;
}

.shop-page-header-column:hover .explore-page-logo-subtitle {
  opacity: 1;
  height: 1.4rem;
}

.shop-page-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  
  gap: 1rem;
}

.shop-page-products-container {
  flex: 3;
}
.shop-page-products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.shop-page-product-container {
  box-sizing: border-box;
  position: relative; 
  cursor: pointer;
  width: 100%;
  height: auto;
  border: 0.2rem solid transparent;
  border-radius: .2rem;
  background: var(--white);
  border: 0.2rem solid var(--black-transparent-medium);
}
.shop-page-product-container.not-hovered {
  transition: .5s all;
  border: 0.2rem solid var(--black-transparent-light);
  color: #7f7b8d;
}
.shop-page-product-container.selected {
  color: var(--black-text);
  border: 0.2rem solid var(--black-transparent-dark);
}
.shop-page-product-container.selected.not-hovered {
  color: var(--black-text);
  border: 0.2rem solid var(--black-text);
}
.shop-page-product-media {
  width: 100%;
  height: 300px;
  background: rgb(81, 92, 81);
}

.shop-page-product-media img {  
  width: 100%;
  height: 100%;
}

.shop-page-product-card-media-container {
  width: 100%;
  height: 300px;
}

.shop-page-product-card-title {
  font-size: 1.4rem;
  padding: .4rem 1rem;
}

.shop-page-product-card-price,
.shop-page-product-card-description,
.shop-page-product-card-dated {

}
.container-flex-01 {
  padding: .4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.shop-page-product-preview-container {
  background: rgb(178, 143, 143);
  height: 100vh;
  position: sticky;
  right: 0;
  top: 0;
  flex: 2;
}

.payment-methods-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.payment-method-paypal,
.payment-method-bank-transfer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.payment-method-bank-transfer {
  flex: 2;
}

.payment-methods-title {
  font-size: 2rem;
  font-family: 'custom';
  margin: 0 0 .4rem 0;
}

.payment-method-title {
  font-size: 1.4rem;
  font-family: 'custom';
  margin: 0 0 .4rem 0;
}

.payment-method-detail {
  font-size: .8rem; 
}

.payment-method-section-header {
  margin: 0 0 1rem 0;
}

.shipping-methods-title {
  font-size: 2rem;
  font-family: 'custom';
  margin: 0 0 .4rem 0;
}
.product-info-section {

}

.product-info-sections-container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shop-page-product-head-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-bottom-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.step1-form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.step1-input-container {
  display: flex;
}

.step1-label {
  flex: 1;
}

.step1-input {
  flex: 1;
}