@font-face {
  font-family: 'BebasNeue';
  src: url('../../media/fonts/BebasNeue-Regular.ttf') format('truetype');
}


.explore-page-container {
  font-size: 1.2rem;
  box-sizing: border-box;
  background: url('../../media/images/graph-paper.svg');
  background-position: center top;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore-page-title {
  font-family: 'BebasNeue';
  color: #3f87a6;
  font-size: 5rem;
}

.explore-page-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 800px;
}

.explore-page-card {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.explore-page-card:hover {
  color: #3f87a6;
}

.explore-card-title {
  font-family: 'BebasNeue';
  font-size: 2rem;
  margin-bottom: .4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.explore-card-description {
  font-family: 'Outfit';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;

}