/* :root {
  --hfs: 16;
  --clr-main: #1fbfac;
  --clr-gray: #3a3a3a;
  --clr-yellow: #FDC162;
} */

.explore-page-container {
  box-sizing: border-box;
  background: url("../../media/images/graph-paper.svg");
  background-position: center top;
  padding: 2rem;
}

.explore-page-container-content {
  box-sizing: border-box;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  gap: 2rem;
}

.left-side {
  width: 50%;
}

.right-side {
  width: 50%;
}

.right-side-content-container {
}

.explore-page-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.explore-page-card {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  color: #7f7b8d;
  background: #fff;
  border: 0.2rem solid #00000010;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  transition: all 0.2s ease;
  transform-style: preserve-3d;
  z-index: 999;
  position: relative;
}

.explore-page-card:hover {
  color: #4f4962;
  border-radius: 1rem;
  border: 0.2rem solid #000;
}

.explore-page-card:hover .explore-card-media-container {
  min-width: 100px;
  height: 62px;
  margin-right: 1rem;
}

.explore-page-card:hover .explore-card-title {
  /* text-decoration: underline; */
}

.explore-card-media-container {
  background-position: center;
  border-radius: 0.4rem;
  transition: all 0.2s;
  transition-delay: 0.2s;
  min-width: 0px;
  height: 62px;
}

.explore-card-text-container {
  width: 100%;
}

.explore-card-title {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Custom";
}

.explore-card-description {
  width: 100%;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  animation-play-state: paused;
  box-sizing: border-box;
  overflow: hidden;
}
.explore-card-description:hover {
}

.explore-page-title {
  font-size: 6em;
  margin: 2rem 0 3.5rem 0;
  user-select: none;
}

.explore-page-title span {
  display: inline-block;
  animation: float 3.6s ease-in-out infinite;
  font-family: "Custom";
  color: #000000;
  text-shadow: 1px 1px #ffffff, 2px 2px #ffffff, 3px 3px #ffffff,
    4px 4px #ffffff;
}

h1 span:nth-child(2) {
  animation-delay: 0.2s;
}
h1 span:nth-child(3) {
  animation-delay: 0.4s;
}
h1 span:nth-child(4) {
  animation-delay: 0.6s;
}
h1 span:nth-child(5) {
  animation-delay: 0.8s;
}
h1 span:nth-child(6) {
  animation-delay: 1s;
}
h1 span:nth-child(7) {
  animation-delay: 1.2s;
}

@media only screen and (max-width: 600px) {
  .explore-page-title {
    font-size: 3.8em;
  }

  .explore-page-card {
    border: 2px solid #00000010;
    border-radius: 1rem;
  }
  .explore-page-card:hover {
    border-left: 0.2rem solid;
  }
  .explore-card-title {
    font-size: 1.5rem;
  }
  .explore-card-description {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .explore-page-cards {
    gap: 1rem;
  }
  .explore-page-container-content {
    flex-direction: column;
  }
}

@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}

@keyframes borderLeft {
  0%,
  100% {
    border-left: 4rem solid;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.connect-links-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}
.connect-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.connect-links-container-description-title {
  align-self: center;
  font-family: "Custom";
  background: #000000;
  color: #fff;
  border-radius: 0.2rem;
  padding: 0rem 1rem;
}

.connect-links img {
  cursor: pointer;
  transition: .2s;
  width: 50px;
}

.connect-links img:hover {
  transform: scale(1.1);
}