.explore-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
.expore-page-img-container {
  max-width: 200px;
}
.expore-page-img-container img {
  width: 100%;
}
.expore-page__container-flex {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
.expore-page-feature {
  cursor: pointer;
}

.expore-page-feature:hover {
  background: yellow;
}