@font-face {
  font-family: 'Outfit';
  src: url('./media/fonts/Outfit-Regular.ttf') format('truetype');
}

* {font-family: 'Outfit';}

body, ul {
  color: #4f4962;
  margin: 0;
  padding: 0;
  line-height: 1.75rem;
}